{% load static %}

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<!doctype html>
<html>
    <head>
        
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!--Bootstrap-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">        
     
        <!--Select2-->
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <link href="{% static 'css/select.css' %}" rel="stylesheet" />
        
        <!--Estilos custom-->
        <link href="{% static 'css/estilos_custom.css' %}" rel="stylesheet" />

    </head>
    <body class="bg-light-subtle">
      
      <nav class="navbar bg-dark text-white fixed-top">
        <div class="container-fluid bg-dark text-white">
          
          <a class="navbar-brand fw-bold text-white" href="#">Nkrisk</a>
          <button class="navbar-toggler text-white" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="material-icons text-white">
              menu
            </span>
          </button>
          <div class="offcanvas offcanvas-end bg-dark text-white" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">

              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              {% comment %} <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a id="colorModeButton" class="nav-link active d-flex align-items-center">
                    <span class="material-icons-outlined">
                      light_mode
                      </span>
                    <span class="mx-2">Cambiar iluminación</span>
                  </a>
                </li>
              </ul> {% endcomment %}
              <ul class="navbar-nav ms-auto text-white bg-dark">   
  
              {% if user.is_authenticated %}
              {% if is_permiso_basico or is_staff %}
              <li class="text-white">
                <a href="/inicio/" class="nav-link active d-flex align-items-center">
                  <span class="material-icons text-white">
                    dashboard
                  </span>
                  <span class="mx-2 text-white">Inicio</span>
                </a>
              </li>
              <li class="border-top my-3"></li>
              <li>
                <a href="/clientes/" class="nav-link active d-flex align-items-center">
                  <span class="material-icons text-white">
                    contacts
                    </span>
                  <span class="mx-2 text-white">Clientes</span>
                </a>
              </li>
              <li>
                <a href="/flotas/" class="nav-link active d-flex align-items-center">
                  <span class="material-icons text-white">
                    directions_car
                  </span>
                  <span class="mx-2 text-white">Flotas</span>
                </a>
              </li>
              <li>
                <a href="/buscar_vehiculo/" class="nav-link active d-flex align-items-center">
                  <span class="material-icons text-white">
                    search
                  </span>
                  <span class="mx-2 text-white">Buscar un vehículo</span>
                </a>
              </li>
              <li>

                <a href="/tarifas_flotas/" class="nav-link active d-flex align-items-center">
                  <img class="material-icons" src="{% static 'svg/percent.svg' %}" alt="Tarifas">
                  <span class="mx-2 text-white">Tarifas de flotas</span>
                </a>
              </li>
              <li class="border-top my-3"></li>
              <li>
                <li>
                  <a href="/creditos/" class="nav-link active d-flex align-items-center">
                    <img class="material-icons" src="{% static 'svg/creditos.svg' %}" alt="Créditos">
                    <span class="mx-2 text-white">Créditos</span>
                  </a>
                </li>
              </li>
              {% if is_staff %}
              <li class="border-top my-3"></li>
              
              <li>
                <a href="/vencimientos/" class="nav-link active d-flex align-items-center">
                  <span class="material-icons text-white">
                    date_range
                  </span>
                  <span class="mx-2 text-white">Vencimientos</span>
                </a>
              </li>
              <li>
                <a href="/cobranzas/" class="nav-link active d-flex align-items-center">
                  <span class="material-icons text-white">
                    payments
                  </span>
                  <span class="mx-2 text-white">Cobranzas</span>
                </a>
              </li>
              <li>
                <a href="/localidades/" class="nav-link active d-flex align-items-center">
                  <span class="material-icons text-white">
                    map
                  </span>
                  <span class="mx-2 text-white">Localidades</span>
                </a>
              </li>
              <li>
                <a href="/vehiculos/" class="nav-link active d-flex align-items-center">
                  <span class="material-icons text-white">
                    storage
                  </span>
                  <span class="mx-2 text-white">Base de datos de vehículos</span>
                </a>
              </li>
              {% endif %}
            {% endif %}
              <li class="border-top my-3"></li>
              <div class="dropdown">
                <a href="#" class="d-flex align-items-center text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  <img src="{% static "images/perfil.png" %}" alt="Usuario" width="32" height="32" class="rounded-circle me-2">
                  <strong> {{ user.username }} </strong>
                </a>
                <ul class="dropdown-menu text-small bg-dark shadow" style="">
                  {% comment %} <li><a class="dropdown-item" href="#">New project...</a></li>
                  <li><a class="dropdown-item" href="#">Settings</a></li>
                  <li><a class="dropdown-item" href="#">Profile</a></li>
                  <li><hr class="dropdown-divider"></li> {% endcomment %}
                  <li>
                    <a class="d-flex align-items-center bg-dark dropdown-item" href="/logout/">
                      <img class="material-icons" src="{% static 'svg/logout_white.svg' %}" alt="Logout">
                      <span class="mx-2 text-white">Cerrar sesión</span>
                    </a>
                  </li>
                </ul>
              </div>
              {% else %}
              <li>
                <a href="/login/" class="nav-link active d-flex align-items-center">
                  <span class="material-icons text-white">
                    login
                    </span>
                  <span class="mx-2 text-white">Iniciar sesión</span>
                </a>
              </li>
              {% endif %}
            </ul>
            </div>
          </div>
        </div>
      </nav>
        <main class="container mt-5">
        {% block content %}

        {% endblock content %}
        </main>
        <div class="container mt-2 px-4">
        <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 border-top">
          <div class="col mb-3">
            <h4 class="fw-bold">Nkrisk</h3>
            <p class="text-body-secondary">© 2024</p>
          </div>
      
          <div class="col mb-3">
      
          </div>
      
          <div class="col mb-3">
          {% if user.is_authenticated %}
          {% if is_permiso_basico or is_staff %}
            <ul class="nav flex-column">
              <li class="nav-item"><a href="/inicio/" class="nav-link text-body-secondary p-0">Inicio</a></li>
              <li class="nav-item"><a href="/clientes/" class="nav-link text-body-secondary p-0">Clientes</a></li>
              <li class="nav-item"><a href="/flotas/" class="nav-link text-body-secondary p-0">Flotas</a></li>
              <li class="nav-item"><a href="/buscar_vehiculo/" class="nav-link text-body-secondary p-0">Buscar un vehículo</a></li>
              <li class="nav-item"><a href="/tarifas_flotas/" class="nav-link text-body-secondary p-0">Tarifas de flotas</a></li>
              <li class="nav-item"><a href="/creditos/" class="nav-link text-body-secondary p-0">Créditos</a></li>
          </div>
          {% if is_staff %}
          <div class="col mb-3">
            <ul class="nav flex-column">
              <li class="nav-item"><a href="/vencimientos/" class="nav-link text-body-secondary p-0">Vencimientos</a></li>
              <li class="nav-item"><a href="/cobranzas/" class="nav-link text-body-secondary p-0">Cobranzas</a></li>
              <li class="nav-item"><a href="/localidades/" class="nav-link text-body-secondary p-0">Localidades</a></li>
              <li class="nav-item"><a href="/vehiculos/" class="nav-link text-body-secondary p-0">Base de datos de vehículos</a></li>
          </div>
          {% endif %}
          {% endif %}
          <div class="col mb-3">
  
            <ul class="nav flex-column">
              
              <li class="nav-item"><a href="/logout/" class="nav-link text-body-secondary p-0">Cerrar sesión</a></li>
              
              {% else %}
            
            <ul class="nav flex-column">
              <li class="nav-item"><a href="/login/" class="nav-link text-body-secondary p-0">Iniciar sesión</a></li>
            
            {% endif %}
            </ul>
          </div>
      
        </footer>
        
      </div>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        {% block customJS %}
      
      <!--Bootstrap-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <!-- jQuery -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- Select2 -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
        
        
        <script>
          // In your Javascript (external .js resource or <script> tag)
            
        $(document).ready(function() {
            $('#Marcas').select2({
              
              escapeMarkup: function(m) { 
                return m;
              }
            });
        });
// Manejo de la búsqueda por código
    $('#codia').on('change', function() {
      var codigo = $(this).val();
      var url = '/buscar_vehiculo_por_codigo/' + codigo;

      // Realiza la solicitud AJAX al servidor
      $.ajax({
          url: url,
          type: 'GET',
          dataType: 'json',
          success: function(data) {
              $('#table-body').empty();
              $('#table-head').empty();
              var precios = data.precios;  

              // Actualiza la tabla con los datos del vehículo encontrado
              $('#table-head').append('<th>Código</th> <th>Marca</th> <th>Nombre</th> <th>Tipo</th> <th>Nacionalidad</th>');
              var fila = '<tr><td>' + data.codigo + '</td><td>' + data.marca + '</td><td>' + data.descripcion + '</td><td>' + data.tipo + '</td><td>' + data.nacionalidad + '</td>';

              // Agrega precio 0km si existe
              if (data.okm) {
                  $('#table-head').append('<th>Precio 0km</th>');
                  fila += '<td>' + data.okm + '</td>';
              }

              if (data.precios) {
                  for (var i = 0; i < data.precios.length; i++) {
                      $('#table-head').append('<th>' + data.precios[i].anio + '</th>');
                  }
              }

              // Cierra la etiqueta de la fila
              fila += '</tr>';

              // Agrega la fila completa a la tabla
              $('#table-body').append(fila);

              // Agrega precios adicionales si existen
              for (var i = 0; i < precios.length; i++) {
                  $('#table-body tr:last').append('<td>' + precios[i].precio + '</td>');
              }
          },
          error: function(error) {
              console.log(error);
          }
      });
  });
      </script>
      <script>

        $(document).ready(function() {
            $('#table-body').empty();
            $('#table-head').empty();
            // Inicialización de Select2 para la marca
            $('#Marcas').select2({
              language: {
                  noResults: function() {
                      return "No se encontraron resultados";
                  }
              }
            });
            $('#Vehiculos').select2({
              language: {
                  noResults: function() {
                      return "No se encontraron resultados";
                  }
              }
            });
            // Manejo del cambio en el select de la marca
            $('#Marcas').on('change', function() {
                var marca_id = $(this).val();
                var url = '/obtener_vehiculos/' + marca_id + '/';
    
                // Realiza la solicitud AJAX al servidor
                $.ajax({
                    url: url,
                    type: 'GET',
                    dataType: 'json',
                    success: function(data) {
                        // Llena el select de vehículos con la respuesta del servidor
                        var selectVehiculos = $('#Vehiculos');
                        selectVehiculos.empty();
    
                        $.each(data, function(index, vehiculo) {
                            selectVehiculos.append('<option value="' + vehiculo.id + '">' + vehiculo.descripcion + '</option>');
                        });
    
                        // Actualiza Select2 después de cambiar las opciones
                        selectVehiculos.select2();
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            });
            
            // Manejo del cambio en el select del vehículo
      $('#Vehiculos').on('change', function() {
        var vehiculo_id = $(this).val();
        var url = '/obtener_datos_vehiculo/' + vehiculo_id + '/';

        
      // Realiza la solicitud AJAX al servidor
      $.ajax({
        url: url,
        type: 'GET',
        dataType: 'json',
        success: function(data) {
          $('#table-body').empty();
          $('#table-head').empty();
          var precios = data.precios;  
          // Actualiza la tabla con los datos del vehículo seleccionado
          
          $('#table-head').append('<th>Código</th> <th>Marca</th> <th>Nombre</th> <th>Tipo</th> <th>Nacionalidad</th>');
          // Agrega años al encabezado
          
          

          // Agrega datos del vehículo a la fila
          var fila = '<tr><td>' + data.codigo + '</td><td>' + data.marca + '</td><td>' + data.descripcion + '</td><td>' + data.tipo + '</td><td>' + data.nacionalidad + '</td>';

          // Agrega precio 0km si existe
          if (data.okm) {
            $('#table-head').append('<th>Precio 0km</th>');
            fila += '<td>' + data.okm + '</td>';
          }
          if (data.precios) {
            for (var i = 0; i < data.precios.length; i++) {
              $('#table-head').append('<th>' + data.precios[i].anio + '</th>');
            }
          }
          // Cierra la etiqueta de la fila
          fila += '</tr>';

          // Agrega la fila completa a la tabla
          $('#table-body').append(fila);

          // Agrega precios adicionales si existen
          for (var i = 0; i < precios.length; i++) {
            
            $('#table-body tr:last').append('<td>' + precios[i].precio + '</td>');
          }
        },
        error: function(error) {
          console.log(error);
        }
      });
      
        });  
          });
          
    </script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <!--Sweet Alert-->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        
        <!--Data Tables-->
        <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
        
      
        <!--Custom JS-->
        {% comment %} <script src="{% static 'js/colorMode.js' %}"></script> {% endcomment %}
        
        
        {% endblock %}
      </body>
</html>