{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container col-xxl-12 py-5">
  <h1 class=" my-5"> 
    Funciones 
  </h1>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card mb-3 " style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4 d-flex align-items-center justify-content-center">
            <img src="{% static 'images/microsoft-excel.png' %}" class="img-fluid rounded-start d-md-block d-none" alt="Documento">
            <img src="{% static 'images/microsoft-excel.png' %}" width="200px" class="img-fluid rounded-start d-md-none " alt="Documento">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Calcular prima automáticamente</h5>
              
              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="formFile" class="form-label">Excel de flota: </label>
                  <input name="file1" class="form-control" type="file" id="formFile">
                </div>
                
                </select>
                <button name="calcular_excel" class="btn btn-primary" type="submit">Calcular</button>
                <button type="submit" name="descargar_excel" class="btn btn-secondary">Descargar modelo</button>
            </form>
              <p class="card-text"></p>
              <p class="card-text"><small class="text-body-secondary">Se descargará un archivo con el resultado.</small></p>
            </div>
          </div>
        </div>

        <div class="card mb-3 " style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4 d-flex align-items-center justify-content-center">
              <img src="{% static 'images/microsoft-excel.png' %}" class="img-fluid rounded-start d-md-block d-none" alt="Documento">
              <img src="{% static 'images/microsoft-excel.png' %}" width="200px" class="img-fluid rounded-start d-md-none " alt="Documento">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Calculaacamente</h5>
                
                <form method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="mb-3">
                    <label for="formFile" class="form-label">Excel de flota: </label>
                    <input name="file1" class="form-control" type="file" id="formFile">
                  </div>
                  
                  </select>
                  <button name="calcular_excel" class="btn btn-primary" type="submit">Calcular</button>
                  <button type="submit" name="descargar_excel" class="btn btn-secondary">Descargar modelo</button>
              </form>
                <p class="card-text"></p>
                <p class="card-text"><small class="text-body-secondary">Se descargará un archivo con el resultado.</small></p>
              </div>
            </div>
          </div>
      </div>
    </div>
    <!--
    <div class="col">

        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="{% static  'images/microsoft-excel.png' %}" class="img-fluid rounded-start" id="gif" alt="Documento">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>

    </div>
    <div class="col">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{% static  'images/documento.gif' %}" class="img-fluid rounded-start" id="gif" alt="Documento">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
    <div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{% static  'images/documento.gif' %}" class="img-fluid rounded-start" id="gif" alt="Documento">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Calcular Excel</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
-->
  </div>
{% endblock %}