{% extends 'index_master.html' %}
{% load static %}
{% block content %}

    <!-- page content -->
        <div class="right_col" role="main">
          <h1>Matrices</h1>

      <!-- messages -->
          {% if messages %}

          {% for message in messages %}
            {% if message.tags == 'error' %}
            <div class="alert alert-danger m-2 " role="alert">
              {{ message }}
            </div>
            {% elif message.tags == 'success' %}
            <div class="alert alert-success m-2" role="alert">
              {{ message }}
            </div>
            {% else %}
            <div class="alert alert-primary m-2" role="alert">
              {{ message }}
            </div>
            {% endif %}
          {% endfor %}
  
        {% endif %}
        
      <!-- messages -->
            <div class="row mb-4 ">
              <div class="col-md-12 col-sm-12 ">
                <div class="col-md-2 col-sm-4">
                  <span>Nombre</span>
                  <div >
                    <input type="text" class="form-control form-control-sm col-md-8 col-sm-4" id="nombreMatriz">
                  </div>
                   
                </div>
                
                <div class="col-md-2 col-sm-4 ">
                  <span class="count_top">País</span>
                  <div class="count">
                    <select name="pais" class="form-select form-control-sm col-md-8 col-sm-4" aria-label="Default select example">
                      <option selected>País</option>
                      {% for pais in paises %}
                      <option value="{{pais.id}}">{{pais.nombre}}</option>
                     {% endfor %}
                    </select>
                  </div>
                 
                      
                </div>
                <div class="col-md-2 col-sm-4">
                  <span class="count_top" style="visibility: hidden;">Buscar</span>
                  <div class=""><!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#exampleModal">
                      <i class="fa fa-search"></i>
                      Buscar
                    </button>
                  </div>
                </div>
                <div class="col-md-2 col-sm-4">
                  <span class="count_top" style="visibility: hidden;">Nuevo</span>
                  <div class=""><!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#nuevo">
                      <i class="fa fa-plus"></i>
                      Nuevo
                    </button>
                    
                   
                    <!-- Modal -->
                    <form method="post" enctype="multipart/form-data">
                      {% csrf_token %}
                    <div class="modal fade" id="nuevo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Nueva matriz</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            
                            <div class="mb-3">
                              <label for="nuevo_nombre" class="form-label">Nombre de la matriz: </label>
                              <input name="nuevo_nombre" type="text" class="form-control" aria-label="Nombre de la matriz" aria-describedby="basic-addon1">
                            </div>
                            <div class="mb-5">
                              <span class="count_top">
                                <label for="nuevo_pais" class="form-label">País: </label></span>                              
                              <span class="count_top"></span>
                              <div class="count">
                                
                                <select name="nuevo_pais" class="form-select form-control-sm col-md-12" aria-label="Default select example">
                                
                                {% for pais in paises %}
                                  <option value="{{pais.id}}">{{pais.nombre}}</option>
                                 {% endfor %}
                                </select>
                              </div>
                            </div>
                              
                              <div class="mb-3">
                                <label for="nuevo_activo" class="form-label mt-1">Activo: </label>
                              <!-- Campo oculto que garantiza que siempre se envíe el valor de 'activo' -->
                              <input type="hidden" name="nuevo_activo" value="False">
                              <input type="checkbox" name="nuevo_activo" id="nuevo_activo" class="form-check-input mt-2 ml-2" >

                              </div>
                              </div>
                              
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary">Guardar cambios</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                  </div>
                  
                </div>
                </div>
            </div>
            <div class="row">
              <div class="table-responsive m-2">
              
                  <table class="table bg-white rounded shadow-sm">
                      <thead class="bg-light">
                        <tr>
                          <th scope="col">Nombre</th>
                          <th scope="col">País</th>
                          <th scope="col">Activo</th>
                          
  
  
  
  
  
        
                          <th scope="col">Editar</th>
                          <th scope="col">Eliminar</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for matriz in pages %}
                        
                        <tr>
                          <td>{{ matriz.nombre }}</td>
                          <td>{{ matriz.pais }}</td>
                          {% if matriz.activo %}
                          <td class="green">Si</td>
  
                          {% else %}
                          <td class="red">No</td>
  
                          {% endif %}
                          
        
                          <td>
                            <div class=""><!-- Button trigger modal -->
                              <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#editarModal{{ matriz.id }}">
                                <i class="fa fa-edit"></i>
                                
                              </button>
                              
                             
                              <!-- Modal -->
                              <form method="post" action="{% url 'update_matriz' matriz.id %}" enctype="multipart/form-data">
                                {% csrf_token %}
                              <div class="modal fade" id="editarModal{{ matriz.id }}" tabindex="1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="exampleModalLabel">Editar matriz</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                      
                                      <div class="mb-3">
                                        <label for="editar_nombre" class="form-label">Nombre de la matriz: </label>
                                        <input name="editar_nombre" value="{{ matriz.nombre }}" type="text" class="form-control" aria-label="Nombre de la matriz" aria-describedby="basic-addon1">
                                      </div>
                                      <div class="mb-5">
                                        <div class="form-group">
                                          <label for="pais">País</label>
                                          <select class="form-control" id="editar_pais" name="editar_pais">
                                            {% for pais in paises %}
                                            <option value="{{ pais.id }}" {% if pais.id == matriz.pais.id %}selected{% endif %}>
                                              {{ pais.nombre }}
                                            </option>
                                            {% endfor %}
                                          </select>
                                        </div>
                                        <div class="form-group">
                                          <label for="activo">Activo</label><!-- Campo oculto que garantiza que siempre se envíe el valor de 'activo' -->
                                          <input type="checkbox" name="editar_activo" id="editar_activo" class="form-check-input mt-2 ml-2" value="on" {% if matriz.activo %}checked{% endif %}>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                      <button type="submit" class="btn btn-primary">Guardar cambios</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </form>
                            </div>
                            
                          </td>
                          <td>
                            
                            <button type="submit" class="w-10 btn btn-sm btn-danger eliminar-elemento confirmar-eliminar" data-url="{% url 'delete_matriz' matriz.id %}">
                              <span class="material-icons align-middle">
                                delete
                              </span>
                            </button>
                       
                          
                          </td>
                        </tr>
                       
                    
                        {% endfor %}
                      </tbody>
                  </table>
              </div>  
              <div class="app-table">
              <div class="table-output">
        <tbody id="table-body" class="table-body"> </tbody></div>
            </div>
          </div>
           
          
              <!--
                MOVIMIENTOS
              
              <div class="">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
                  <h2> 
                    Flotas
                  </h2>
               
        
              </div>
                
                <div class="list-group overflow-auto" style="max-height: 360px;">
                 
                  {% for movimiento in movimientos %}
                    <div  class="list-group-item">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{movimiento.nombre_movimiento}}</h5>
                        <div>
                          <form method="POST" class="d-inline" action="{% url 'exportar_movimiento' flota.id movimiento.id %}">
                            {% csrf_token %}
                          <button type="submit" class="w-10 btn btn-sm btn-success exportar-excel mx-2">
                            <span class="material-icons-outlined">
                              file_download
                              </span>
                              
                          </button>
                        </form>
                        <form method="POST" class="d-inline eliminar-formulario" action="{% url 'delete_movimiento' flota.id movimiento.id %}" id="eliminarFormulario">
                          {% csrf_token %}
                        <button type="button" class="w-10 btn btn-sm btn-danger eliminar-elemento confirmar-eliminar mx-2" onclick="confirmarEliminar()">
                          <span class="material-icons-outlined">
                            delete
                            </span>
                            
                        </button>
                      </form>
        
                        </div>
                      </div>
                      <p class="mb-1">{{movimiento.tipo_movimiento}}</p>
                      
                      <p class="mb-1">Creación: {{movimiento.created}}</p>
                      
                    </div>
                  {% endfor %}
                  
                </div>
              -->
              </div>
          </div>
        <!-- /page content -->
        <script src="{% static 'js/swal.js' %}"></script>
{% endblock %}
